* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Serif', serif;
}
/* mobile_first*/


header{
    position: sticky;
    top: 20px;
    z-index: 100;
    background-color: rgba(255, 255, 251, 0.377);
    height: 80px;
    

}
body{
    width: 100vw;
}


.back{
    overflow: hidden;
    margin-top: 15px;
    border-bottom: 2px rgb(146, 141, 141) solid;
    
}
.piezas_h1{
    font-size: 40px;
    color: rgb(15, 15, 129);
}
.piezas_h2{
    font-size: 27px;
    margin-top: -5px;
    color: rgb(15, 15, 129);
}
.div_novedades{
 position: absolute;
 margin-top: 150px;
 margin-left: 40px;
}

.novedades_1{
    font-size: 12px;
   
}
.novedades_2{
    border-top: 1px rgb(146, 141, 141) solid;
    font-size: 12px;
    
}

.img_dripper{
    width: 100%;
    margin-top: -110px;  
    
}
.img_cup{
    width: 100%;
    margin-top: -110px;
   
}
.dripper_descripcion{
    position: relative;
    top: 250px;
    width: 100%;
    padding: 10px;
    background-color: rgba(207, 205, 205, 0.562);
   
}
.cup_descripcion{
    position: relative;
    top: 250px;
    width: 100%;
    padding: 10px;
    background-color: rgba(207, 205, 205, 0.562);
    
}
.img-ig{
    width: 20px;
   
}
/* sobre nosotros*/

.sn_titulo{
    font-size: 50px;
} 
.sn_parrafo{
    font-size: 12px;
}


/* cups*/   

.section_cups{
    width: 100%;

}
.cups_t{
    font-size: 50px;
}
.cups_d{
    font-size: 12px;
    width: 250px;
    margin-top: 5px;
}

.cup_name{
    font-size: 15px;
    position: absolute;
    padding-top: 20px;
    padding-left: 25px;
    
}

/* Bowls*/
.img-responsive{
    width: 100%;
}
/* Series*/
.section_series{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5 auto;
}

.serie_photo_size1{
    width: 100%;
}
.h2_series{
    width: 300px;
    font-size: 50px;
    padding: 30px;
}
/* Piezas*/
.section_piezas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6 auto;
    grid-gap: 20px;
    margin-top: 100px;
}
.pieza_foto_size{
    width: 100%;
}
.pieza_foto_size1{
    width: 100%;
}
.h2_piezas_n{
    font-size: 45px;
   
}


@media (max-width: 768px ){
     /* Index oculto mobile*/
    .novedades_t{
    display: none;
       
    }
    .novedades_t1{
        display: none;
           
   }
   
    /* Series oculto mobile*/
    .serie_photo_size{
    display: none;}

    /* Piezas oculto mobile*/
    .piezas_desc{
        display: none;
    }
    .pieza_foto_size1{
        display: none;
    }
   
}

/* tablet */

@media (min-width: 768px  ){
    /* Index tablet */
  
    .novedades_1{
        font-size: 14px;
    
    }
    .novedades_2{    
        font-size: 14px;    
    }
    .img_dripper{
        width: 80%;
        margin-top: -190px;
        margin-left: 80px;    
    }
    .img_cup{
        width: 80%;
        margin-top: -150px;
        margin-left: 80px;   
    }
    .dripper_descripcion{
        position: relative;
        top: 250px;
        width: 100%;
        padding: 10px;
        background-color: rgba(207, 205, 205, 0.562);
       
    }
    .cup_descripcion{
        position: relative;
        top: 250px;
        width: 100%;
        padding: 10px;
        background-color: rgba(207, 205, 205, 0.562);
        
    }
 
    /* Sobre Nosotros Tablet */
 

     /* Cups Tablet */
   .section_cups{
    width: 80%;
    margin-left: 80px;
   }
   .cup_name{
    background-color: rgba(146, 141, 141, 0.493);
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;

   }
   /* Series Tablet */
   /* Piezas Tablet */
   .pieza_foto_size{
    width: 80%;
    margin-left: 80px;
   }
   .pieza_foto_size1{
    width: 80%;
    margin-left: 80px;
   }
   .h2_piezas_n{
    margin-left: 30px;
    font-size: 50px;
   }
}
/* desktop */
@media (min-width: 1024px ){

    .piezas_h1{
        font-size: 45px;
        color: rgb(15, 15, 129);
    }
    .piezas_h2{
        font-size: 30px;
        margin-top: -5px;
        color: rgb(15, 15, 129);
    }    
    .div_novedades{
        margin-top: 300px;
        margin-left: 700px;
        position: absolute;
       }
   
    .img_dripper{
        width: 600px;
        margin-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        transition: transform .2s;
    }
    
    .img_dripper:hover {
        transform: scale(1.1);

    }
    .img_cup{
        width: 600px;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        transition: transform .2s;
   
    }
    .img_cup:hover {
        transform: scale(1.1);
    }    
    .novedades_t{
        position: absolute;
        justify-content: center;
        padding: 20px;
        background-color: rgba(146, 141, 141, 0.493);
        width: 100px;
        margin-top: 50px;
       margin-left: 70px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;   
    }
    .novedades_t1{
        position: absolute;
        justify-content: center;
        padding: 20px;
        background-color: rgba(146, 141, 141, 0.493);
        width: 100px;
        margin-top: 50px;
       margin-left: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    
    .novedades_d{
        font-size: 16px;
        margin-top: 8px;
    }
    
    .novedades_1{
            display: flex;
            flex-direction: row;
            align-content: space-between;
            align-items: center;
            margin-right: 10px;        
    }
    .novedades_2{
            display: flex;
            flex-direction: row;
            align-content: space-between;
            align-items: center;
            margin-left: 10px;
    }                 
    .dripper_descripcion{
       background-color: white; 
       width: 50%;
       top: 0px;
       justify-content: center;
       font-size: 25px;
       margin-left: 20px;   
    }
    .cup_descripcion{
        background-color: white; 
        width: 50%;
        top: 0px;
        justify-content: center;
        font-size: 25px;
        margin-left: 20px;
        order: 1;
    }

    /* sobre nosotros*/
    .sn_titulo{
        font-size: 50px;
    } 
    .sn_parrafo{
        font-size: 12px;
    }

    /* cups*/   
    .section_cups{
        width: 400px;
        transition: transform .2s;
    }
    .section_cups:hover{
        transform: scale(1.1);
        }
    .cups_t{
        font-size: 50px;
        padding-top: 100px;
        padding-left: 10px;     
    }
    .cups_d{
        font-size: 14px;
        width: 400px;
        padding-left: 10px;
        padding-top: 5px;
    }
    .cup_name{
        position: absolute;
        padding-top: 190px;
        padding-left: 15px;
        background-color: rgba(207, 205, 205, 0.562);
        font-size: 18px;
        color: black;

    }
    .cup_name:hover{
        color: rgb(15, 15, 129);

    }
/* Series*/
.section_series{
    display: grid;
    grid-template-columns: 3 fr;
    grid-template-rows: 5 auto;
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    margin-left: 20px;
}
.serie_photo_size{
    width: 380px;
    margin: 5px;
    transition: transform .2s;
}
.serie_photo_size:hover{
    transform: scale(1.1);
}
.serie_photo_size1{
    width: 380px;
    margin: 5px;
    transition: transform .2s;
}
.serie_photo_size1:hover{
    transform: scale(1.1);
}
.h2_series{
    width: 280px;
    font-size: 48px;
    padding: 30px;
    background-color: rgba(207, 205, 205, 0.562);
    position: absolute;
}
/* Piezas*/
.section_piezas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto ;
    grid-gap: 20px;
    
   
}
.h2_piezas_n{
    font-size: 50px;
    width: 380px;
    height: 100px;
    padding: 20px;
    margin-bottom: 40px;
}
.piezas_t{
    font-size: 20px;
    
}
.piezas_p{
    font-size: 12px;
    margin-top: 5px;
}
.piezas_desc{
    position: absolute;
    background-color: rgba(207, 205, 205, 0.562);
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 40px;
    width: 280px;
}

 

}




